mat-sidenav {
    width: 280px;
    border-right: none;
    text-align: center;
}

mat-sidenav-container {
    height: calc(100vh - 65px);
}

.avatar {
    border-radius: 60%;
    width: 110px;
    height: 110px;
    margin: 0 auto;
}

.menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
    margin: 10px 0;
    mat-icon {
        margin-right: 8px;
    }
}

mat-divider {
    margin: 20px 0px;
    background-color: #fff;
}
.name{
    padding: 8px;
}
img
{
    border-radius: 100px;
    box-shadow: 10px 10px 10px orange;
}
.header
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    justify-content: center;

}
.menu-button{
    margin: 20px;
}
.example-icon{
    margin: 30px;
    align-items: center;
}
.avatar{
    

}
