@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
    height: 100%;
    background: rgb(8, 8, 8);
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}